CT_CONFIG_VERSION="4"
CT_OBSOLETE=y
CT_PREFIX_DIR="${CT_PREFIX:?}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}"
CT_ARCH_X86=y
CT_ARCH_64=y
CT_TARGET_VENDOR="debian13"
CT_KERNEL_LINUX=y
CT_LINUX_V_6_1=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_V_2_41=y
CT_GLIBC_KERNEL_VERSION_NONE=y
CT_CC_GCC_LNK_HASH_STYLE_BOTH=y
CT_CC_LANG_CXX=y
CT_COMP_TOOLS_MAKE=y
CT_MAKE_V_4_3=y
CT_MAKE_GNUMAKE_SYMLINK=y
